@import url(../../index.css);

.input-file-title{
    font-size: 20px;
    font-weight: 500;
}

.input-file{
    color: var(--info);
    font-weight: bold;
    margin-left: 10px;
}

.input-file::-webkit-file-upload-button{
    background-color: var(--secondary);
    color: white;
    outline: none;
    border: none;
    padding: 6px 10px;
    border-radius:5px;
    margin-right: 10px;
    font-weight: normal;
}

.input-file::-ms-browse{
    background-color: var(--secondary);
}