@import url('../../index.css');

.navbar-logo{
    width: 120px;
}

.navbar-menu{
    border: none;
    background: transparent;
}

.navbar-menu:focus{
    box-shadow: none;
}

/* Elementos del menu */

.nav-item{
    font-size:var(--normalSize);
}

.nav-item:hover{
    background-color: var(--primary);
}

.nav-item:hover  .nav-link-text{
    color: var(--secondary) !important;
}

.nav-item:hover  .nav-icon{
    color: var(--secondary) !important;
}

/* Enlaces del menu */

.nav-link:hover{
    cursor: pointer !important;
}

.nav-link-text{
    letter-spacing: 1px !important;
    margin: 0px;
    font-weight: 500;
}

.nav-icon{
    width: 35px;
    color:black;
    height: 100%;
}

/* Dropdowm */
.dropdown-menu{
    border: 0px !important;
    background-color: var(--primary);
}

.dropdown-item{
    /* letter-spacing: 2px !important; */
    font-weight: 500;
}

.dropdown-item:hover{
    background-color: white !important;
}

.dropdown-link{
    text-decoration: none;
}


    