@import url('../../index.css');

.navbar-logo{
    display:block;
    width: 120px;
}

.navbar-menu{
    border: none;
    background: transparent;
}

.navbar-menu:focus{
    box-shadow: none;
}

.nav-item{
    font-size:var(--normalSize);
}

.nav-item:hover{
    background-color: var(--primary);
}


.nav-item:hover  .nav-link-text{
    color: var(--secondary) !important;
}

.nav-item:hover  .nav-icon{
    color: var(--secondary) !important;
}

.nav-link:hover{
    cursor: pointer !important;
}

.nav-link-text{
    letter-spacing: 2px !important;
    margin: 0px;
    font-weight: 500;
}

.nav-icon{
    width: 35px;
    display: block;
    color:black;
    height: 100%;
}


    