@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  /* COLORS */
  --primary:#FEEBD9;
  --secondary:#F57C00;
  --third:#EEEEEE;
  --info:#0dcaf0;

  /* FONT FAMMILY */
  --mainFont:'Montserrat', sans-serif;

  /* FONT SIZE */
  --normalSize: 20px;

  /* INPUT SELECT */
  --input-title:18px;
  --input-content:16px;
}

*{
  font-family: var(--mainFont);
}

body{
  font-size:16px;
  background-color: var(--third);
}

/* INPUTS */
.input-title {
  font-size:var(--IS-size-title);
}